# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# # Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [2]:
renamed_school_data = school_data.rename(columns={"name": "School Name", "type" : "School Type"})
renamed_student_data = student_data.rename(columns= {"school": "School Name"})

In [3]:
# # Combine the data into a single dataset
school_data_complete = pd.merge(renamed_student_data, renamed_school_data, how="left", on=["School Name", "School Name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
Total_Schools = len(school_data)
Total_Students = len(student_data)
Total_Budget = school_data["budget"].sum()
Average_Math_Score = student_data["math_score"].mean()
Average_Reading_Score = student_data["reading_score"].mean()
Percent_Students_Passing_Maths = len(student_data.query('math_score>70')) * 100 / Total_Students
Percent_Students_Passing_Reading = len(student_data.query('reading_score>70')) * 100 / Total_Students
Overall_Passing_Rate = ( Average_Math_Score + Average_Reading_Score )/ 2
District_Summary = [{  "Total Schools":Total_Schools
                    , "Total Students": '{:,}'.format(Total_Students)
                    , "Total Budget": '${:,.2f}'.format(Total_Budget)
                    , "Average Math Score": Average_Math_Score
                    , "Average Reading Score" : Average_Reading_Score
                    , "% Passing Math": Percent_Students_Passing_Maths
                    , "% Passing Reading": Percent_Students_Passing_Reading
                    , "% Overall Passing Rate": Overall_Passing_Rate
                   }]

District_Summary_Dataframe = pd.DataFrame(District_Summary)
District_Summary_Dataframe = District_Summary_Dataframe[["Total Schools"
                                                         ,"Total Students"
                                                         , "Total Budget"
                                                         ,"Average Math Score"
                                                         , "Average Reading Score"
                                                         , "% Passing Math"
                                                         , "% Passing Reading"
                                                         , "% Overall Passing Rate"
                                                        ]]
District_Summary_Dataframe

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,72.392137,82.971662,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [79]:
School_Summary = school_data_complete.groupby(["School Name"]).agg({'math_score': 'mean'
                                                                    ,'reading_score':'mean'
                                                                    ,'size':'size'
                                                                    ,'budget':'min'
                                                                    ,'School Type':'min'
                                                                    ,'School Name': 'min'
                                                                   })

School_Summary['Per Student Budget'] = School_Summary['budget'] / School_Summary['size']
School_Summary

,math_score,reading_score,size,budget,School Type,School Name,Per Student Budget
School Name,,,,,,,
Bailey High School,77.048432,81.033963,4976,3124928,District,Bailey High School,628.0
Cabrera High School,83.061895,83.975780,1858,1081356,Charter,Cabrera High School,582.0
Figueroa High School,76.711767,81.158020,2949,1884411,District,Figueroa High School,639.0
Ford High School,77.102592,80.746258,2739,1763916,District,Ford High School,644.0
Griffin High School,83.351499,83.816757,1468,917500,Charter,Griffin High School,625.0
Hernandez High School,77.289752,80.934412,4635,3022020,District,Hernandez High School,652.0
Holden High School,83.803279,83.814988,427,248087,Charter,Holden High School,581.0
Huang High School,76.629414,81.182722,2917,1910635,District,Huang High School,655.0
Johnson High School,77.072464,80.966394,4761,3094650,District,Johnson High School,650.0
Pena High School,83.839917,84.044699,962,585858,Charter,Pena High School,609.0
Rodriguez High School,76.842711,80.744686,3999,2547363,District,Rodriguez High School,637.0
Shelton High School,83.359455,83.725724,1761,1056600,Charter,Shelton High School,600.0
Thomas High School,83.418349,83.848930,1635,1043130,Charter,Thomas High School,638.0
Wilson High School,83.274201,83.989488,2283,1319574,Charter,Wilson High School,578.0
Wright High School,83.682222,83.955000,1800,1049400,Charter,Wright High School,583.0

In [88]:
School_Summary_Pass_Reading = school_data_complete.query('reading_score>70').groupby(["School Name"]).agg({'reading_score':'size'
                                                                                                           ,'School Name':'min' })
School_Summary_Pass_Reading = School_Summary_Pass_Reading.rename(columns={"reading_score": "Passed Reading"})
School_Summary_Pass_Reading

                       Passed Reading            School Name
School Name
Bailey High School               3946     Bailey High School
Cabrera High School              1744    Cabrera High School
Figueroa High School             2313   Figueroa High School
Ford High School                 2123       Ford High School
Griffin High School              1371    Griffin High School
Hernandez High School            3624  Hernandez High School
Holden High School                396     Holden High School
Huang High School                2299      Huang High School
Johnson High School              3727    Johnson High School
Pena High School                  887       Pena High School
Rodriguez High School            3109  Rodriguez High School
Shelton High School              1631    Shelton High School
Thomas High School               1519     Thomas High School
Wilson High School               2129     Wilson High School
Wright High School               1682     Wright High School

In [75]:
School_Summary_Pass_Math = school_data_complete.query('math_score>70').groupby(["School Name"]).agg({'math_score':'size'
                                                                                                    , 'School Name':'min'})
School_Summary_Pass_Math = School_Summary_Pass_Math.rename(columns={"math_score": "Passed Math"})
School_Summary_Pass_Math

                       Passed Math            School Name
School Name
Bailey High School            3216     Bailey High School
Cabrera High School           1664    Cabrera High School
Figueroa High School          1880   Figueroa High School
Ford High School              1801       Ford High School
Griffin High School           1317    Griffin High School
Hernandez High School         3001  Hernandez High School
Holden High School             387     Holden High School
Huang High School             1847      Huang High School
Johnson High School           3040    Johnson High School
Pena High School               882       Pena High School
Rodriguez High School         2562  Rodriguez High School
Shelton High School           1583    Shelton High School
Thomas High School            1475     Thomas High School
Wilson High School            2076     Wilson High School
Wright High School            1625     Wright High School

In [77]:
School_Pass_Math_And_Reading = pd.merge(School_Summary_Pass_Reading, School_Summary_Pass_Math, how="left", on=["School Name", "School Name"])
School_Pass_Math_And_Reading

/Users/ravindramohan/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: FutureWarning: 'School Name' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

              School Name  Passed Reading  Passed Math
0      Bailey High School            3946         3216
1     Cabrera High School            1744         1664
2    Figueroa High School            2313         1880
3        Ford High School            2123         1801
4     Griffin High School            1371         1317
5   Hernandez High School            3624         3001
6      Holden High School             396          387
7       Huang High School            2299         1847
8     Johnson High School            3727         3040
9        Pena High School             887          882
10  Rodriguez High School            3109         2562
11    Shelton High School            1631         1583
12     Thomas High School            1519         1475
13     Wilson High School            2129         2076
14     Wright High School            1682         1625

In [102]:
School_Overall = pd.merge(School_Summary, School_Pass_Math_And_Reading, how="left", on=["School Name", "School Name"])
School_Overall = School_Overall.rename(columns={"math_score": "Average Math Score"
                               , "reading_score":"Average Reading Score" 
                               ,"budget":"Total School Budget"
                               ,"size":"Total Students"
                              })
# Compute the percentages
School_Overall['% Passing Math'] = School_Overall['Passed Math'] * 100/ School_Overall['Total Students']
School_Overall['% Passing Reading'] = School_Overall['Passed Reading'] * 100 / School_Overall['Total Students']
School_Overall['% Overall Passing Rate'] = (School_Overall['% Passing Math'] + School_Overall['% Passing Reading']) / 2
# Remove extra columns
del School_Overall['Passed Math']
del School_Overall['Passed Reading']

# Order the columns as per the requirement 
School_Overall = School_Overall[["School Name"
                                 ,"School Type"
                                 ,"Total Students"
                                 , "Total School Budget"
                                 ,"Per Student Budget"
                                 ,"Average Math Score"
                                 ,"Average Reading Score"
                                 ,"% Passing Math"
                                 ,"% Passing Math"
                                 ,"% Overall Passing Rate"
                                ]] 
# School_Overall = School_Overall.groupby(["School Name"])
School_Overall

/Users/ravindramohan/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2963: FutureWarning: 'School Name' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Math,% Overall Passing Rate
0,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,64.630225,64.630225,71.965434
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,89.558665,89.558665,91.711518
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,63.750424,63.750424,71.091896
3,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,65.753925,65.753925,71.631982
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,89.713896,89.713896,91.553134
5,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,64.746494,64.746494,71.467098
6,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,90.632319,90.632319,91.686183
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,63.318478,63.318478,71.066164
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,63.852132,63.852132,71.067003
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,91.683992,91.683992,91.943867
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,64.066017,64.066017,70.905226
11,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,89.892107,89.892107,91.254969
12,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,90.214067,90.214067,91.559633
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,90.932983,90.932983,92.093736
14,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,90.277778,90.277778,91.861111

In [104]:
School_Overall_Top5 = School_Overall.sort_values(by=['% Overall Passing Rate'], ascending=False)
# We are interested in top 5
School_Overall_Top5.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Math,% Overall Passing Rate
13,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,90.932983,90.932983,92.093736
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,91.683992,91.683992,91.943867
14,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,90.277778,90.277778,91.861111
1,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,89.558665,89.558665,91.711518
6,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,90.632319,90.632319,91.686183

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [108]:
School_Overall_Bottom5 = School_Overall.sort_values(by=['% Overall Passing Rate'] , ascending=True) 
# We are interested in bottom 5, hence kept the ascending order true
School_Overall_Bottom5.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Math,% Overall Passing Rate
10,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,64.066017,64.066017,70.905226
7,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,63.318478,63.318478,71.066164
8,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,63.852132,63.852132,71.067003
2,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,63.750424,63.750424,71.091896
5,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,64.746494,64.746494,71.467098

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,"$3,999.00",$637.00,76.842711,80.744686,64.066017,77.744436,70.905226
Huang High School,District,2917,"$2,917.00",$655.00,76.629414,81.182722,63.318478,78.813850,71.066164
Johnson High School,District,4761,"$4,761.00",$650.00,77.072464,80.966394,63.852132,78.281874,71.067003
Figueroa High School,District,2949,"$2,949.00",$639.00,76.711767,81.158020,63.750424,78.433367,71.091896
Hernandez High School,District,4635,"$4,635.00",$652.00,77.289752,80.934412,64.746494,78.187702,71.467098

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,90.350436,93.325838,83.694607
$585-615,83.599686,83.885211,90.788049,92.410786,83.742449
$615-645,79.079225,81.891436,73.021426,83.214343,80.485330
$645-675,76.997210,81.027843,63.972368,78.427809,79.012526

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,91.158155,92.471895,91.815025
Medium (1000-2000),83.374684,83.864438,89.931303,93.244843,91.588073
Large (2000-5000),77.746417,81.344493,67.631335,80.190800,73.911067

## Scores by School Type

* Perform the same operations as above, based on school type.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,90.363226,93.052812,91.708019
District,76.956733,80.966636,64.302528,78.324559,71.313543